@import '../../../../../../styles/variables.scss';

.reviewsDetail {
  border-radius: 0;
  padding-bottom: 1rem;

  .reviewsDetailTitle {
    background: #56aaa6;
    height: 2rem;
    line-height: 2rem;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 2rem;
    cursor: pointer;
  }

  .reviewsDetailContent {
    .statsFooter {
      display: flex;
      justify-content: center;
      border: 1px solid #d8d8d8;
      background-color: #fafafa;
      padding: 2rem;
    }
  }

  .filterTitle {
    font-size: 20px;
    line-height: 24px;
    color: $dark;
    padding: 2rem 2rem 0;
    display: flex;
    align-items: center;
  }

  .filterBlock {
    display: flex;
    padding: 2rem;

    @mixin stars {
      cursor: pointer;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      border-radius: 8px;
      justify-content: center;
      &:hover {
        background-color: #56aaa690;
      }
    }

    .starLine {
      @include stars();
    }

    .filterInputs {
      display: flex;
      flex-direction: column;
    }

    .selectedFilter {
      @include stars();
      background-color: lightgrey;
    }

    .shrinkLabel {
      background-color: white;
    }
  }

  .separator {
    background-color: #d8d8d8;
    height: 1px;
  }

  .pager {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .prev {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $teal;
      color: $white;
      margin-left: 1rem;
    }
    .next {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $teal;
      color: $white;
      margin-left: 0.2rem;
    }
  }
}

.hidden {
  display: none !important;
}
