.widgetPromo {
  padding: 80px 0;
  background-color: #ffffff;
}

.widgetPromoFeature h3 {
  font-size: 32px;
  font-weight: 600;
}

.widgetPromoFeatureText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}