{
  "extends": ["plugin:react/recommended", "@codingsans/eslint-config/typescript-recommended"],
  "ignorePatterns": ["*.js"],
  "rules": {
    "@typescript-eslint/interface-name-prefix": [
      "error",
      {
        "prefixWithI": "never"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  },
  "globals": {
    "React": "writable"
  },
  "settings": {
    "react": {
      "version": "16.13"
    }
  }
}
