@import '../../../styles/variables.scss';

.root {
  border-radius: 8px !important;
}
.checked {
  background-color: #00ffff;
  color: $white;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unchecked {
  padding: 4px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .checked {
    padding: 15px 15px;
  }
  .unchecked {
    padding: 15px 15px;
  }
}
