@import '../../../styles/variables.scss';

.award {
  display: flex;
  padding: 3rem;

  .image {
    width: 25%;
    height: 160px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .body {
    width: 75%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .type {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: $dark;

      .date {
        padding-left: 0.5rem;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $dark;
      }
    }

    .title {
      padding-top: 0.25rem;
      font-size: 20px;
      line-height: 24px;
      color: $dark;
    }

    .description {
      padding-top: 1.5rem;
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: $dark;
    }
  }

  .link {
    padding-top: 1rem;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #5d92f4;

    & > a {
      display: flex;
      align-items: center;

      & > .icon {
        margin-right: 0.5rem;
      }
    }
  }
}
