.userTypes {
  padding: 80px 0;
  background-color: #ffffff;

  img {
    max-height: 200px;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 16px;
    font-weight: 400;
    color: #999999;
  }
}
