.automatization {
  padding: 150px 0 80px 0;
  background-color: #ffffff;

  h3 {
    font-weight: 600;
    font-size: 2.2em;
  }

  h4 {
    color: #5e5e5e;
    font-size: 1.5em;
    line-height: 1.45em;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  h5 {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
  }

  .popularAdvantages > div {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-end;
  }

  .popularAdvantages {
    & > div > span {
      width: 65%;
      text-align: left;
    }
    & > div svg {
      display: inline-block;
      color: #28bd52;
      margin-right: 15px;
    }
  }
}

.automatizationStepOne {
  margin-top: 70px;
  h3 {
    font-weight: 600;
    font-size: 2.2em;
  }
}

.automatizationStepCardOne {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

.automatizationStepCard {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid #eee;
  height: 100%;

  h3 {
    font-size: 1.5em;
    color: #999999;
    margin: 0;
  }

  h4 {
    font-size: 3.2em;
    color: #999999;
    font-weight: 600;
    margin-bottom: 0;
  }

  p {
    color: #999999;
  }
}

.automatizationStepDetail {
  h4 {
    font-weight: 600;
  }
  p {
    color: #999999 !important;
    font-weight: 400;
  }
  .automatizonStepDetailImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .automatization .popularAdvantages > div > span {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .automatization .popularAdvantages > div > span {
    width: 95%;
  }
}

@media screen and (max-width: 576px) {
  .automatization .popularAdvantages > div > span {
    width: 65%;
  }
  .automatization .popularAdvantages > div {
    justify-content: center !important;
  }
}
