@import '../../../styles/variables.scss';

.product {
  padding: 3rem 3rem 0;

  .details {
    display: flex;
    justify-content: space-between;

    .mainDetails {
      .name {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $dark;
      }
      .categories {
        padding-top: 0.5rem;
        font-size: 14px;
        line-height: 17px;
        color: $light;
      }
    }

    .subDetails {
      .priceLabel {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $dark;
      }
      .price {
        padding-top: 0.5rem;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: $dark;
      }
    }
  }

  .descriptionLabel {
    padding-top: 1.5rem;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: $dark;
  }
  .specialty {
    padding-top: 0.5rem;
    color: #2cbe55;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
  }
  .description {
    padding-top: 0.5rem;
    font-size: 16px;
    line-height: 20px;
    color: $dark;
    white-space: pre-wrap;
  }
  .attachmentLabel {
    padding-top: 0.5rem;
    font-weight: bold;
  }
  .attachmentWrapper {
    display: inline-block;
    margin-top: 0.5rem;
    cursor: pointer;
    .attachment {
      width: 240px !important;
      height: 130px !important;
    }
  }
}
.serviceReview {
  margin-top: 1rem;
  background-color: #fafafa;
  padding: 3rem;
  .question {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #656565;
  }
  .companyWriteReview {
    background: #f15c5c;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 0;
    flex-shrink: 0;
    margin-left: 3rem;
    .reviewIcon {
      margin-left: 0.5rem;
    }
  }
}
.modalImage {
  max-width: 85vw;
  max-height: 85vh;
}
