.circlesOfTrust {
  padding: 50px 0;
  position: relative;
  color: #ffffff !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 5%;
}

.overlay {
  background: linear-gradient(75.1deg, #054f6b 0%, #28bd9c 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -3;
}

.container {
  text-align: center;
  img {
    max-height: 100px;
  }

  h4 {
    margin-bottom: 0;
    font-size: 1.3em;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1rem;
  }
}
