@import '../../../styles/variables.scss';

.companySearch {
  max-width: 770px;
  margin: 5rem auto 4rem;
  color: white;

  .searchInputBlock {
    background: #ffffff;
    box-shadow: 0px 1px 15px rgba(69, 65, 78, 0.0756624);
    border-radius: 3px;
    padding: 5px;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;

    .searchControl {
      flex-grow: 1;
    }

    .searchInput {
      border: 0;
      outline: 0;
      margin-right: 10px;
      color: black;
    }

    .searchButton {
      background: #2cbe55;
      border-radius: 3px;
      border: 0;
      outline: 0;
      padding: 0 2rem;
      color: white;
    }
  }
}
