@import '../../../styles/variables.scss';

.root {
  padding: 60px;
  & .companyName {
    color: $teal;
    font-weight: bold;
  }
  & .verticalSpacing {
    margin: 48px 0;
  }
  & .flexRight {
    display: flex;
    justify-content: flex-end;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.headerBlock {
  background-image: $bix-bg-gradient;

  .divider {
    background: rgba(255, 255, 255, 0.4);
    height: 1px;
  }
}

.frameFix {
  overflow: hidden;
}

.errorMsg {
  color: #ff3739 !important;
}

.positive {
  color: #00d014;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}

.negative {
  color: #ff3739;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.summary {
  color: #656565;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.spacingRight {
  margin-right: 10px;
}
