@import '../../../../../../styles/variables.scss';

.reviewStats {
  .writeReview {
    .writeReviewHeader {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $grey;
      padding-left: 2rem;
      text-transform: uppercase;
    }
  }
  .companyWriteReview {
    background: #f15c5c;
    border-radius: 3px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    border: 0;
    flex-shrink: 0;
    .reviewIcon {
      margin-left: 0.5rem;
    }
  }
}
