@import '../../../styles/variables.scss';

@mixin container($margin-y: 0) {
  width: 100%;
  max-width: 1170px;
  margin: $margin-y auto;
  padding: 0 20px;
}

.container {
  @include container;
}

.headerBlock {
  background-image: $bix-bg-gradient;

  .divider {
    background: rgba(255, 255, 255, 0.4);
    height: 1px;
  }
}

.frameFix {
  overflow: hidden;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
