@import '../../../styles/variables.scss';

.root {
  padding: 60px;
  & .companyName {
    color: $teal;
    font-weight: bold;
  }
  & .verticalSpacing {
    margin: 48px 0;
  }
  & .flexRight {
    display: flex;
    justify-content: flex-end;
  }
}
.perfectReviewWarning {
  border: 1px solid #f63c3c;
  border-radius: 6px;
  width: 100%;
  min-height: 90px;
  .triangleWrapper {
    width: 90px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f63c3c;
    color: white;
    .triangle {
      width: 40px;
      height: 40px;
    }
  }
  .title {
    color: #f73c3c;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
  }
  .text {
    color: #656565;
    font-size: 20px;
    line-height: 24px;
  }
}

.emoji {
  width: 35px;
  height: 35px;
}

.dialogConfirmButton {
  background-color: #2cbe55 !important;
  width: 150px !important;
  height: 40px;
  text-transform: uppercase !important;
  font-weight: bold !important;
}
.tipDivider {
  position: relative;
  top: 33px;
}

.announcementIcon,
.toolTip {
  &.greenAnnouncement {
    color: #01953f;
  }
  &.redAnnouncement {
    color: #c60203;
  }

  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.announcementWrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: 20px;
  margin-right: 10px;
}

.noExperienceButton {
  text-transform: uppercase !important;
  width: 188px;
  height: 40px;
  opacity: 0.98;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3 !important;
  &.checked {
    color: #f63c3c !important;
  }
  &.unchecked {
    color: #9a9a9a !important;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.headerBlock {
  background-image: $bix-bg-gradient;

  .divider {
    background: rgba(255, 255, 255, 0.4);
    height: 1px;
  }
}

.frameFix {
  overflow: hidden;
}

.errorMsg {
  color: #ff3739 !important;
}

.positive {
  color: #00d014;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}

.negative {
  color: #ff3739;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.summary {
  color: #656565;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.spacingRight {
  margin-right: 10px;
}
.user {
  display: flex;
  align-items: center;
  margin-top: 1rem !important;
  justify-content: space-between;
  .avatar {
    width: 90px !important;
    height: 90px !important;
    margin-right: 1rem !important;
  }
}
.userWarning {
  margin-top: 2rem;
  display: flex;
  color: #ff3739;
}
.icons {
  display: flex;
  align-items: center;
  .icon {
    cursor: pointer;
    &.google {
      width: 100px !important;
      height: 100px !important;
    }
  }
}
.alignCenter {
  display: flex;
  align-items: center;
}
.link {
  color: blue;
}

.socialButton {
  position: relative;
  width: 100%;
  max-width: 300px;
  text-align: center;
  cursor: pointer;
  color: $white;
  font-size: 1rem;
  padding: 15px 10px 15px 48px;
  border-radius: 3px;
  margin: 5px 0;
  border: none;

  $social-icon-place-size: 48px;

  &.google {
    background-color: $google-red;
    .iconPlaceholder {
      background-color: #ab3a2c;
      > img {
        width: 20px;
        height: auto;
      }
    }
  }

  &.facebook {
    background-color: $fb-blue;
    .iconPlaceholder {
      background-color: #4f77cc;
      > img {
        width: 12px;
        height: auto;
      }
    }
  }

  .iconPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 3px 0 0 3px;
    width: $social-icon-place-size;
    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.logButton {
  background-color: #054f6b !important;
  color: white !important;
  padding: 1rem !important;
  border-radius: 3px !important;
  outline: 0 !important;
  border: 0 !important;
  font-weight: bold !important;
  width: 8em !important;
}
