@import '../../../styles/variables.scss';

.root {
  padding: 60px;
  & .companyName {
    color: $teal;
    font-weight: bold;
  }
  & .verticalSpacing {
    margin: 48px 0;
  }
  & .flexRight {
    display: flex;
    justify-content: flex-end;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.headerBlock {
  background-image: $bix-bg-gradient;

  .divider {
    background: rgba(255, 255, 255, 0.4);
    height: 1px;
  }
}

.frameFix {
  overflow: hidden;
}

.errorMsg {
  color: #ff3739 !important;
}

.positive {
  color: #00d014;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}

.negative {
  color: #ff3739;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.summary {
  color: #656565;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.spacingRight {
  margin-right: 10px;
}
.user {
  display: flex;
  align-items: center;
  margin-top: 1rem !important;
  .avatar {
    width: 90px !important;
    height: 90px !important;
    margin-right: 1rem !important;
  }
}
.userWarning {
  margin-top: 2rem;
  display: flex;
  color: #ff3739;
}
.icons {
  display: flex;
  align-items: center;
  .icon {
    cursor: pointer;
    &.google {
      width: 26.5px !important;
      height: 26.5px !important;
    }
  }
}
