@import '../../../styles/variables.scss';

.root {
  padding: 60px;
  & .companyName {
    color: $teal;
    font-weight: bold;
  }
  & .verticalSpacing {
    margin: 48px 0;
  }
  & .flexRight {
    display: flex;
    justify-content: flex-end;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.headerBlock {
  background-image: $bix-bg-gradient;

  .divider {
    background: rgba(255, 255, 255, 0.4);
    height: 1px;
  }
}

.frameFix {
  overflow: hidden;
}

.errorMsg {
  color: #ff3739 !important;
}

.positive {
  color: #00d014;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}

.negative {
  color: #ff3739;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.summary {
  color: #656565;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-top: 20px !important;
}
.spacingRight {
  margin-right: 10px;
}
.user {
  display: flex;
  align-items: center;
  margin-top: 1rem !important;
  justify-content: space-between;
  .avatar {
    width: 90px !important;
    height: 90px !important;
    margin-right: 1rem !important;
  }
}
.userWarning {
  margin-top: 2rem;
  display: flex;
  color: #ff3739;
}
.icons {
  display: flex;
  align-items: center;
  .icon {
    cursor: pointer;
    &.google {
      width: 100px !important;
      height: 100px !important;
    }
  }
}
.alignCenter {
  display: flex;
  align-items: center;
}
.link {
  color: blue;
}

.socialButton {
  position: relative;
  width: 100%;
  max-width: 300px;
  text-align: center;
  cursor: pointer;
  color: $white;
  font-size: 1rem;
  padding: 15px 10px 15px 48px;
  border-radius: 3px;
  margin: 5px 0;
  border: none;

  $social-icon-place-size: 48px;

  &.google {
    background-color: $google-red;
    .iconPlaceholder {
      background-color: #ab3a2c;
      > img {
        width: 20px;
        height: auto;
      }
    }
  }

  &.facebook {
    background-color: $fb-blue;
    .iconPlaceholder {
      background-color: #4f77cc;
      > img {
        width: 12px;
        height: auto;
      }
    }
  }

  .iconPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 3px 0 0 3px;
    width: $social-icon-place-size;
    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.logButton {
  background-color: #054f6b !important;
  color: white !important;
  padding: 1rem !important;
  border-radius: 3px !important;
  outline: 0 !important;
  border: 0 !important;
  font-weight: bold !important;
  width: 8em !important;
}
