@import '../../../styles/variables.scss';

.baseSize {
  font-size: 14px;
}

@mixin container($margin-y: 0) {
  width: 100%;
  max-width: 1170px;
  margin: $margin-y auto;
  padding: 0 20px;
}

.container {
  @include container;
}

.mt40 {
  margin-top: 40px !important;
}

.img {
  max-width: 100%;
}

.title {
  font-size: 2.5em;
  line-height: 1.2;
  color: $dark;
}

.desc {
  font-size: 16px;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 400;
  color: $dark;
}

.headerBlock {
  background-image: $bix-bg-gradient;
  min-height: 83vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  .divider {
    background: rgba(255, 255, 255, 0.4);
    height: 1px;
  }

  &Inner {
    @include container;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &Logos {
    margin-top: 50px;

    a {
      display: inline-block;
      margin-right: 20px;
    }

    img {
      max-height: 20px;
      opacity: 0.7;
      margin-top: 20px;
    }
  }

  .mainTitle {
    color: $white;
    font-weight: 600;
    font-size: 2.2em;
    margin-bottom: 25px;
    line-height: 1.35;
  }

  .desc {
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: 300;
    font-size: 1.3em;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.2;
  }

  .learnMoreBtn {
    color: white;
    margin-left: 70px;
  }
}

.learnMore {
  @include container(70px);
  text-align: center;
}
