@import '../../../styles/variables.scss';

.companyFrame {
  display: flex;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 4rem;
  .companySidebar {
    padding: 2rem;
    width: 32%;
    border-right: 1px solid $grey;
    .ratingStar {
      color: lightgray;
    }
    .ratingStarActive {
      color: #bf9855;
    }
    .ratingCounter {
      font-size: 35px;
      line-height: 41px;
      color: $dark;
      &:after {
        content: '/10';
        font-size: 16px;
        line-height: 19px;
      }
    }

    .detailsTitle {
      background: $bix-bg-gradient;
      color: $white;
      padding: 1rem 2rem;
      margin: 0 -2rem;
    }

    .companyName {
      padding: 1rem 0;
      font-size: 24px;
      line-height: 29px;
      color: $dark;
    }

    .separator {
      height: 1px;
      background: $grey;
      margin: 1.5rem -2rem;
    }

    .blockLabel {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: $dark;
    }

    .chipBlock {
      margin: 0.5rem 0;
    }
  }

  .companyContent {
    width: 68%;
    color: $dark;
  }

  .dFlex {
    display: flex;
  }

  .captionText {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #b4b4b4;
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 801px) {
  .companySidebar {
    display: none;
  }
  .companyContent {
    width: 100% !important;
    color: $dark;
  }
}
