@import './react_toastify_variables';
@import '~react-toastify/scss/toastContainer';
@import '~react-toastify/scss/toast';
@import '~react-toastify/scss/closeButton';
@import '~react-toastify/scss/progressBar';

// entrance and exit animations
@import '~react-toastify/scss/animations/bounce.scss';
@import '~react-toastify/scss/animations/zoom.scss';
@import '~react-toastify/scss/animations/flip.scss';
@import '~react-toastify/scss/animations/slide.scss';

@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  button {
    font-family: 'Montserrat', sans-serif;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 $container-padding;
}
