$bix-bg-gradient: linear-gradient(to right, #0988b8, #28bd9c);
$bix-bg-gradient-v: linear-gradient(to bottom, #0988b8, #28bd9c);
$white: #fff;
$dark: #595959;
$grey-dark: #5e5e5e;
$grey: #dddddd;
$light: #a4a4a4;

$teal: #56aaa6;
$green: #00d014;
$red: #ff3739;
$dark-red: #aa565a;

$primary: #5D92F4;
$secondary: #00D014;

$container-padding: 15px;
